<div class="max-w-2xl lg:max-w-xl mx-auto">
  <app-header></app-header>
  <main class="px-4 md:px-0">
    <header>
      <h1 class="font-semibold tracking-tight text-4xl mb-6 text-slate-900 pb-6 border-b border-slate-200">Information
      </h1>
    </header>
    <section class="pb-8 prose prose-lg">
      <p>Hi there, I'm Emil Wilson, a passionate Full-Stack Developer from India with a strong focus on the MEAN stack.
        I specialize in building dynamic and responsive web applications that enhance user experiences.</p>

      <p>Recently, I have worked on various projects aimed at providing seamless functionalities, such as an e-commerce
        platform (Finito) that ensures secure transactions and a social media application (SocioClub) featuring
        real-time communication. These projects demonstrate my ability to integrate complex functionalities while
        prioritizing user engagement.</p>

      <p>My journey in tech has involved a strong foundation in programming and design principles. I am dedicated to
        creating user-friendly interfaces and maintaining high-quality code standards across my projects.</p>

      <p>Building products that people love to use is at the core of my work. My experience includes implementing robust
        JWT authentication for secure access and utilizing real-time technologies like Socket.IO to enhance user
        interaction. If you're interested in collaborating or learning more about my work, feel free to reach out to me
        at
        <a href="mailto:emilu551e@gmail.com" class="underline font-semibold">emilu551e&#64;gmail.com</a>.
        
      </p>

    </section>
    <section>
      <h2 class="font-semibold text-2xl tracking-tight mb-4 mt-8 ">Experience</h2>
      <div class="divide-y divide-slate-200">
        <!-- If u need more just copy the below div again -->

        <div class="flex gap-4 py-6">
          <img alt="Bootcamp logo" loading="lazy" width="56" height="56" decoding="async" data-nimg="1" class="w-14 h-14 rounded-xl" 
               src="/assets/logobroto.jpg" style="color: transparent;">
          <div class="flex flex-col col-span-9">
              <span class="text-slate-800 text-xl font-semibold">Web Development Bootcamp</span>
              <span class="text-slate-700 text-lg">Full-Stack Developer Trainee</span>
              <span class="block mt-4 text-slate-500 col-span-2 text-sm font-medium tracking-tighter font-mono">Completed in 2024</span>
          </div>
      </div>
      <div class="py-2">
          <p class="text-slate-500 text-sm">During my time in the bootcamp, I engaged in intensive self-learning, dedicating 12 to 16 hours each day to complete weekly tasks. Each week culminated in a review session with experienced developers who provided valuable feedback and guidance on my code, helping me implement new features and improve my skills continuously.</p>
      </div>
      


      </div>
    </section>
  </main>
  <app-footer></app-footer>
</div>